<h2 class="ui center aligned icon header">
  <i class="circular sticky linechat inverted outline icon"></i>
  Контактная информация MusicWorld
</h2>
<div class="unit-show-content contact-handler">
<div class="contact-info-handler">
  <div class="inline">
    <%=image_tag('house.png', class: 'contact-image') %>
    <p class="contact-text">Улица Объездная 2, Г. Гомель 246027</p>
  </div>
  <div class="inline">
    <%=image_tag('phone.png', class: 'contact-image') %>
    <p class="contact-text">Приёмная комиссия <g class="number">+8 0232 43-42-71</g></p>
  </div>
  <div class="inline">
    <%=image_tag('mail.png', class: 'contact-image') %>
    <p class="contact-text">Савицкий Александр Александрович</p>
  </div>
  <div class="inline">
    <%=image_tag('Human.png', class: 'contact-image') %>
    <p class="contact-text">Supermegacoollprettyeggmk@gmail.com</p>
  </div>
</div>
  <div class="ui inverted segment">
    <div class="ui positive message contact-form-message">
      <i class="close icon"></i>
      <div class="header">
        Спасибо за обращение!
      </div>
      <p>Скоро мы свяжемся с вами, ожидайте письмо на вашем почтовом адресе</p>

    </div>
    <div class="ui inverted form">
      <div class="two fields">
        <div class="field">
          <input placeholder="Имя" type="text">
        </div>
        <div class="field">
          <input placeholder="Почта" type="text">
        </div>
      </div>
      <div class=" field">
        <textarea PLACEHOLDER="Сообщение"></textarea>
      </div>
      <div class="ui submit button contacts-send-button">Отправить</div>
    </div>
  </div>
</div>


<div class="unit-show-content map-handler">
  <h1>Мы находимся сдесь</h1>
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad11c2aebdb0851724af043602f140368c0f143e33d522a060c53957b681ed9ed&amp;source=constructor" width="631" height="240" frameborder="0"></iframe>
</div>