<h2 class="ui center aligned icon header">
  <i class="circular sticky star alternate inverted  icon"></i>
  Наша гордость
</h2>
<div class="unit-show-content star-container">
  <h1>2021 Год</h1>
  <div class="star-handler">
    <p class="student">

      Ершов Алексей (фортепиано)
      Учитель — Резько Светлана Александровна
      Поощрительная премия
    </p>
    <p class="student">
      Шимчак Анастасия (фортепиано)
      Учитель — Логинова Елена Юрьевна
      Поощрительная премия
    </p>
  </div>
  <h1>2020 Год</h1>
  <div class="star-handler">
    <p class="student">
      Смирнова Мария (кларнет)
      Учитель — Ильющенкова Нина Алексеевна
      Поощрительная премия
    </p>
    <p class="student">
      Смирнов Алексей (фагот)
      Учитель — Карканица Владимир Григорьевич
      Поощрительная премия
    </p>
  </div>
  <h1>2019 Год</h1>
  <div class="star-handler">
    <p class="student">


      Мацеральник Фёдор (кларнет)
      Учитель — Забара Геннадий Иванович
      Поощрительная премия

    </p>
    <p class="student">


      Смирнов Алексей (фагот)
      Учитель — Карканица Владимир Григорьевич
      Поощрительная премия

    </p>
  </div>
  <h1>2018 Год</h1>
  <div class="star-handler">
    <p class="student">

      Шимчак Анастасия (фортепиано)
      Учитель — Логинова Елена Юрьевна
      Поощрительная премия
    </p>
    <p class="student">
      Шафар Тали (фортепиано)
      Учитель — Логинова Елена Юрьевна
      Поощрительная премия
    </p>
  </div>
  <h1>2017 Год</h1>
  <div class="star-handler">
    <p class="student">


      Надольная Мария (скрыпка)
      Учитель — Семенкова Валентина Владимировна
      Премия и звание дипломанта

    </p>
    <p class="student">


      Ефимович Лидия (фортепиано)
      Учитель — Логинова Елена Юрьевна
      Поощрительная премия

    </p>
  </div>
  <h1>2016 Год</h1>
  <div class="star-handler">
    <p class="student">

      Камоцкая Лилиана (эстрадный вокал)
      Учителя — Колесникова Ольга Владимировна,
      Материальная помощь
    </p>
    <p class="student">
      Квакин Георгий (балалайка)
      Учитель — Тушинский Михаил Михайлович
      Поощрительная премия
    </p>
  </div>
  <h1>2015 Год</h1>
  <div class="star-handler">
    <p class="student">


      Надольная Мария (скрыпка)
      Учитель — Семенкова Валентина Владимировна
      Премия и звание дипломанта

    </p>
    <p class="student">


      Ефимович Лидия (фортепиано)
      Учитель — Логинова Елена Юрьевна
      Поощрительная премия

    </p>
  </div>
</div>